* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  background-color: #1e2d3b;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
}

.small-containers {
  background-color: #2e3a46;
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.img img {
  height: 100px;
  display: flex;
  justify-content: center;
}
