* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  background-color: #1e2d3b;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.small-containers {
  background-color: white;
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  border: 1px solid black;
  flex-wrap: wrap;
}

.small-containers img {
  height: 100px;
}
